In [5]:
import numpy as np
import pandas as pd

my_array = np.ones(3, dtype=([('foo', int), ('bar', float)]))    # setting data types of ones

print(my_array['foo'])
print(my_array['bar'])
print(my_array)

[1 1 1]
[1. 1. 1.]
[(1, 1.) (1, 1.) (1, 1.)]

In [13]:
data = np.array([['','Col1','Col2'],    # list of lists
                 ['Row1', 1, 2],
                 ['Row2', 3, 4]])

pd.DataFrame(data=data[1:,1:],
            index=data[1:,0],
            columns=data[0, 1:])

     Col1 Col2
Row1    1    2
Row2    3    4

In [17]:
# 2D array as input to df

my_2darray = np.array([[1,2,3],
                      [4,5,6]])
print(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

In [20]:
# dict as input to df

my_dict = {1: ['1', '3'],
           2: ['1', '2'],
           3: ['2', '4']}

print(pd.DataFrame(my_dict))

   1  2  3
0  1  1  2
1  3  2  4

In [25]:
# df as input to df

my_df = pd.DataFrame(data=[4,5,6,7],
                     index=range(0,4), columns=['A'])

# print(pd.DataFrame(my_df))
my_df

   A
0  4
1  5
2  6
3  7

In [29]:
# series as input to df

my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belguim":"Brussels"})

my_series
# print(pd.DataFrame(my_series))

United Kingdom        London
India              New Delhi
United States     Washington
Belguim             Brussels
dtype: object

In [40]:
df = pd.DataFrame(np.array([[1,2,3],
                           [4,5,6]]))
print(df.shape)
print(df.index)
print(len(df.index))
print(df)

(2, 3)
RangeIndex(start=0, stop=2, step=1)
2
   0  1  2
0  1  2  3
1  4  5  6

In [48]:
# loc for labels, iloc for index

print(df.iloc[0])

0    1
1    2
2    3
Name: 0, dtype: int32

In [52]:
print(df.loc[:,2])

0    3
1    6
Name: 2, dtype: int32

In [67]:
df = pd.DataFrame(np.array([['A','B','C'],
                           [4,5,6]]))

print(df)
df = df.set_index(2)
df

   0  1  2
0  A  B  C
1  4  5  6

   0  1
2
C  A  B
6  4  5

In [74]:
df = pd.DataFrame(data=np.array([[1,2,3],[4,5,6],[7,8,9]]),
                  columns=['A', 'B', 'C'])

df['D'] = df.index
print(df)

   A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

In [4]:
import pandas as pd


df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df)
df.rename(columns={"A": "a", "B": "c"})

   A  B
0  1  4
1  2  5
2  3  6

   a  c
0  1  4
1  2  5
2  3  6

In [5]:
df.rename(index={1:"DSTA"})

      A  B
0     1  4
DSTA  2  5
2     3  6

In [1]:
import pandas as pd
import numpy as np

In [2]:
f = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
f

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [3]:
f.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [5]:
f.drop([1])

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

In [7]:
f['A'].iloc[1]

4

In [12]:
# ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()
if (f.columns != ['A', 'B', 'C', 'd']).any():
    print("Looks like you made a typo")

Looks like you made a typo